
.added
{
    color: green;
    font-size: .8em;
    font-size: .8rem;
    display: block;
}

.item-list.km-list > li,
.item-list .km-list > li
{
    overflow: hidden;
    line-height: 1em;
}

.main-image {
    width: 4em;
    height: 4em;   
}

.item-list img,
#details img,
#buildingDetails img,
#personDetails img,
#PersonDetailsTest img
{
    float: left;
    margin-right: 1em;
    -webkit-box-shadow: 0 2px 3px #333;
    box-shadow: 0 2px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 3px;
    margin-left: 2px;
}

.item-list h2
{
    margin: 0;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 1.4em;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.item-list h3
{
    margin: 0;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 1.4em;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.item-list h6
{
    margin: 0;
    display: inline-block;
    font-size: 0.6em;
    margin-top: 1.4em;
    font-size: 0.6em;
    margin-top: 0.5em;
}

#cartList h2
{
    margin-top: 1.1rem;
}

#cartList .km-button
{
    font-weight: bold;
}

.item-list a.km-button
{
    position: absolute;
    right: .6em;
    right: .6rem;
    top: 50%;
    margin-top: -1em;
    margin-top: -1rem;
}

.km-android .item-list a.km-button
{
    margin-top: -1.35em;
    margin-top: -1.35rem;
}

.item-list a.details-link
{
    display: block;
    text-decoration: none;
    overflow: hidden;
}

.price
{
    color: #4F576F;
    font-size: 2em;
    font-size: 2rem;
    line-height: normal;
}

#cart .price
{
    color: #777;
    display: block;
    font-weight: normal;
    font-size: .8em;
    font-size: .8rem;
    line-height: 1em;
    line-height: 1rem
}

#details .km-content,
#buildingDetails .km-content,
#personDetails .km-content,
#PersonDetailsTest .km-content
{
    padding: 1em;
    padding: 1rem;
    -webkit-box-sizing: border-box;
}

#details .km-content p,
#buildingDetails .km-content p,
#personDetails .km-content p,
#PersonDetailsTest .km-content p
{
    margin-top: 1em;
    margin-top: 1rem;
    font-size: .9em;
    font-size: .9rem;
    line-height: 1.2em;
    line-height: 1.2rem;
    font-weight: normal;
    text-shadow: 1px 1px white;
}

#details .km-content aside,
#buildingDetails .km-content aside,
#personDetails .km-content aside,
#PersonDetailsTest .km-content aside
{
    display: block;
    overflow: hidden;
}

#details img,
#buildingDetails img,
#personDetails img,
#PersonDetailsTest img
{
    width: 8.4em;
    height: 8.4em;
    margin-right: 2em;
    margin-right: 2rem;
    margin-bottom: 1em;
    margin-bottom: 1rem;
}

#details .km-content aside .price
{
    display: block;
    margin-bottom: 1em;
    margin-bottom: 1rem;
}

.details-link
{
    color: #000;
}

.km-android .details-link
{
    color: #fff;
}

#checkout
{
    margin: 1em;
    margin: 1rem;
    display: block;
    text-align: center;
    font-size: 2em;
    font-size: 2rem;
}

.list-item-data
{
    float: right;
    font-weight: normal;
    color: rgb(146, 163, 189);
}

.km-empty h2,
.km-empty #checkout
{
    display: none;
}

#cartList:empty:before
{
    content: "Your cart is empty.";
    padding: 2em;
    padding: 2rem;
    line-height: 3.5em;
    line-height: 3.5rem;
    color: #888;
}

.km-android .km-back
{
    display: none;
}

#total
{
    text-align: center;
    padding: .5em 1em 0;
    padding: .5rem 1rem 0;
    font-size: 4em;
    font-size: 4rem;
}

#total,
.km-insetcontent .km-scroll-container > h2,
.km-insetcontent .km-scroll-container > h3 {
    color: #4F576F;
    text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

.about-button,
#menu .item-list .km-button,
#index .item-list .km-button
{
    width: 3.4em;
    text-align: center;
}

.red-button {
    background-color: #B11C1A;
}

.red-button:active {
    background-color: #910000;
}

#done-icon, #empty-icon {
    margin: 20px auto;
    display: block;
    width: 128px;
}

#empty-icon {
    display: none;
}

.km-empty #empty-icon {
    display: block;
}

#done h2 {
    text-align: center;
    margin-bottom: 10px;
}

#done h3, #checkout h3 {
    text-align: center;
    margin-bottom: 30px;
}

#done-button
{
    margin: 1em;
    margin: 1rem;
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-size: 1.1rem;
}

/* Firefox Icon Masks */

.km-root .km-featured
{
    clip-path: url("images/iconmasks.svg#featured");
}

.km-root .km-toprated,
.km-root .km-favorites
{
    clip-path: url("images/iconmasks.svg#toprated");
}

.km-root .km-mostviewed
{
    clip-path: url("images/iconmasks.svg#mostviewed");
}

.km-root .km-bookmarks
{
    clip-path: url("images/iconmasks.svg#bookmarks");
}

.km-root .km-contacts
{
    clip-path: url("images/iconmasks.svg#contacts");
}

.km-root .km-download,
.km-root .km-downloads
{
    clip-path: url("images/iconmasks.svg#download");
}

.km-root .km-more
{
    clip-path: url("images/iconmasks.svg#more");
}

.km-root .km-android .km-root .km-more
{
    clip-path: url("images/iconmasks.svg#androidmore");
}

.km-root .km-meego .km-root .km-more
{
    clip-path: url("images/iconmasks.svg#meegomore");
}

.km-root .km-mostrecent
{
    clip-path: url("images/iconmasks.svg#mostrecent");
}

.km-root .km-recents
{
    clip-path: url("images/iconmasks.svg#recents");
}

.km-root .km-history
{
    clip-path: url("images/iconmasks.svg#history");
}

.km-root .km-add
{
    clip-path: url("images/iconmasks.svg#add");
}

.km-root .km-details
{
    clip-path: url("images/iconmasks.svg#details");
}

.km-root .km-info,
.km-root .km-about
{
    clip-path: url("images/iconmasks.svg#info");
}

.km-root .km-action
{
    clip-path: url("images/iconmasks.svg#action");
}

.km-root .km-camera
{
    clip-path: url("images/iconmasks.svg#camera");
}

.km-root .km-edit,
.km-root .km-compose
{
    clip-path: url("images/iconmasks.svg#edit");
}

.km-root .km-search
{
    clip-path: url("images/iconmasks.svg#search");
}

.km-root .km-trash,
.km-root .km-delete
{
    clip-path: url("images/iconmasks.svg#trash");
}

.km-root .km-organize
{
    clip-path: url("images/iconmasks.svg#organize");
}

.km-root .km-reply
{
    clip-path: url("images/iconmasks.svg#reply");
}

.km-root .km-stop
{
    clip-path: url("images/iconmasks.svg#stop");
}

.km-root .km-sounds,
.km-root .km-volume
{
    clip-path: url("images/iconmasks.svg#sounds");
}

.km-root .km-refresh
{
    clip-path: url("images/iconmasks.svg#refresh");
}

.km-root .km-play
{
    clip-path: url("images/iconmasks.svg#play");
}

.km-root .km-fastforward
{
    clip-path: url("images/iconmasks.svg#fastforward");
}

.km-root .km-pause
{
    clip-path: url("images/iconmasks.svg#pause");
}

.km-root .km-rewind
{
    clip-path: url("images/iconmasks.svg#rewind");
}

.km-root .km-settings
{
    clip-path: url("images/iconmasks.svg#settings");
}

.km-root .km-globe
{
    clip-path: url("images/iconmasks.svg#globe");
}

.km-root .km-home
{
    clip-path: url("images/iconmasks.svg#home");
}

.km-root .km-cart
{
    clip-path: url("images/iconmasks.svg#cart");
}

.km-root .km-battery
{
    clip-path: url("images/iconmasks.svg#battery");
}

.km-root .km-wifi
{
    clip-path: url("images/iconmasks.svg#wifi");
}

.km-root .km-share
{
    clip-path: url("images/iconmasks.svg#share");
}

.info 
{
    width: 2.1em;
    height: 2.1em;
    margin-right: 1em;
    margin-right: 1rem;
    margin-bottom: 1em;
    margin-bottom: 1rem    
}

/* Addition form Stephen for custum override */
/* need to replace the urls to statr with / */

.km-header,
.km-header .km-navbar,
.km-header .header-logo {
    /*height: 44px;  default header */
}
.km-header .km-navbar{
    /* disable background background-image: url("../Content/themes/WUR/images/header-wur-small.jpg"); */
}

.km-header .header-logo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 70px;
    background-image: url("../Content/themes/WUR/images/wur-logo-trans.gif");
    background-repeat: no-repeat;
    width: 238px;
}

.km-view-title {
    /*height: 65px;*/
}

.km-header .km-navbar .header-subtitle {
    font-size: 0.8em;
    text-align: left;
    margin: 10px 150px 0 250px;
    background-image: url("../Content/themes/WUR/images/title-back-left.png");
    background-repeat: no-repeat;
    height: 26px;
}

.header-subtitle .view-title,
.header-subtitle .view-subtitle 
{
    color: white;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
    line-height: 26px;
    height: 26px;
    display: block;
    margin: 0 0 0 7px;
    padding: 0 0 0 5px;
    background-image: url("../Content/themes/WUR/images/title-back-right.png");
    background-repeat: repeat-x;
    background-position: right;
    
}
.km-header .km-navbar .header-subtitle .view-subtitle
{
    color: white;
    font-weight: normal;
    font-size: 1em;
}


.km-listview-link {
    background-color: white;
}

.km-content {
    background-color: white!important;
}
.km-insetcontent {    
    background-image: none!important;
}

.backbtn-wrapper {
    margin-bottom: 10px;
}

.buildingDetail-wrapper h3{
    margin-top: 5px;
}

.buildingDetail-wrapper  .detailContent,
.personDetail-wrapper .detailContent {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 5px;
}

#buildingDetails .km-list{
    margin-left: 0;
}

/* profiel, preferences */
.content-wrapper{
    padding: 0 15px 0 15px;    
}

.content-wrapper ul,
.personenContent-wrapper ul
 {
    margin-left: 0;
    margin-right: 0;  
}

#SavePreferences,
#profile-savebutton {
    float: right;    
}

/* btn color override*/
.wur-button {
    background-color: #339F33!important;
}

.wur-button:active {
    background-color: #2F942F!important;
}

.feedback-right {
    color: red;
    float: right;
    margin: 0 10px 0 0;
    padding: 6px 0 0 0;
}

.hide-this {
    display: none;   
}

.icon-container
{
    display: inline-block;
    line-height: 25px;
    height: 25px;
    width: 47px;
    font-size: 0.75em!important;
    margin: 0;
 }
 
.icon-container img,
.buildingDetail-wrapper .detailContent img {
    width: 25px!important;
    height: 25px!important;
    vertical-align: middle;
    margin-right: 7px;
}

.buildingDetail-wrapper .detailContent {
    display: block;
}

.buildingDetail-wrapper .detailContent img,
.occupation-icon {
    width: 25px!important;
    height: 25px!important;
    margin-right: 8px!important;
}

.buildingDetail-wrapper {
    float: left;
    padding: 5px 0 0 0;
}

.buildingDetail-wrapper .detailContent {
    clear: left;
    line-height: 25px;
    vertical-align: middle;
    font-size: 1em;
    font-weight: bold;        
}

.iconList {
    margin: 5px 0 0 0;
}

.listHeader {
    margin: 0 0 7px 0;   
}

.StatusMessage h3
{
    font-size: 1.3em;
    font-weight: normal;
    xmargin: 15px;   
}

.non-occupied {
 opacity:0.15;
 filter:alpha(opacity=15);   
}

.headerTitle {
    margin-bottom: 7px;   
}

.person-occupation {
    margin-top: 15px;
}
/* end custom override */

/* ios override */
.km-ios .wur-button {
    margin-right: 15px;
}
/* end ios overide */

/* begin android override */
.km-android .headerTitle {
    margin-bottom: 0px;
    margin-top: -5px;   
}
.km-android .km-content *
{
    color: black!important;       
}

.km-android .item-list {
    margin: 0;
}

.km-android .km-list > li {
        border-bottom: solid 1px #CCC!important;
}

.km-android #tabstrip-instellingen .km-list > li,
.km-android #tabstrip-status .km-list > li{
   background: #b1b3b8;
}

.km-android #Preferences .km-list li:first-child {
    border-top: solid 1px #b1b3b8;
}

.km-android #Preferences .km-list > li,
.km-android #Profiel .km-list > li 
{
    border-bottom: solid 1px #CCC!important;
    display: block;
    vertical-align: middle;
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    background: #f0f0f0;
    margin: 0!important;
    zborder: solid 1px #b1b3b8!important;
}

.km-android .km-listinset li:first-child:last-child > .km-listview-link, 
.km-android .km-listgroupinset li:first-child:last-child > .km-listview-link, 
.km-android .km-listinset li:first-child:last-child > .km-listview-label, 
.km-android .km-listgroupinset li:first-child:last-child > .km-listview-label {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.km-android .km-listinset li:last-child > .km-listview-link, 
.km-android .km-listgroupinset li:last-child > .km-listview-link, 
.km-android .km-listinset li:last-child > .km-listview-label, 
.km-android .km-listgroupinset li:last-child > .km-listview-label {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}
.km-android .km-listinset > li:first-child, 
.km-android .km-listgroupinset .km-list > li:first-child, 
.km-android .km-listinset li:first-child > .km-listview-link, 
.km-android .km-listgroupinset li:first-child > .km-listview-link, 
.km-android .km-listinset li:first-child > .km-listview-label, 
.km-android .km-listgroupinset li:first-child > .km-listview-label {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}

.km-android.km-listinset > li:first-child:last-child, 
.km-android .km-listgroupinset .km-list > li:first-child:last-child {
border-width: 1px;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
}

.km-android .km-listinset > li:first-child:last-child, 
.km-android .km-listgroupinset .km-list > li:first-child:last-child {
    border-width: 1px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.km-android .km-listinset > li:last-child, 
.km-android .km-listgroupinset .km-list > li:last-child {
    border: 1px solid #b1b3b8!important;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.4),inset 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4),inset 0 1px 0 rgba(255,255,255,.4);
}
.km-android .km-listinset > li, 
.km-android .km-listgroupinset .km-list > li {
    border: 1px solid #b1b3b8;
    border-width: 0 1px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2),inset 0 1px 0 rgba(255,255,255,.4);
}

.km-android .km-listview-link::after {
color: #7B7B7B;
}


.km-android .km-list > li {
line-height: 1.6em;
font-size: 1.2em;
font-weight: bold;
}

.km-android, .km-android .km-content {
color: black;
}
.km-android {
font: bold .9rem HelveticaNeue,sans-serif;
}

.km-android #tabstrip-instellingen .km-group-title {
    display: none;
}

.km-android #tabstrip-instellingen .km-content {
    padding-top: 15px;
}

.km-android .km-hide-title,
.km-android .km-view-title {
    display:block!important;
    visibility: visible!important;   
}

.km-android .wur-button {
    margin: 7px 25px 0 0!important;
}

.km-android #Profiel .km-list,
.km-android #Preferences .km-list {
    margin-bottom: 0;
}
.km-android .personenContent-wrapper ul{
    margin-left: 0;
}

.km-android .personenContent-wrapper .km-listview-wrapper {
    margin-top: 15px;
}

.km-android .km-listview {
    margin-top: 0!important;
}
/* end android ovrride */



/* poging tot android huisstijl toepassing */
.km-android .km-footer,
.km-android .km-header {
    xbackground-color: #34b233!important;
}

.km-android .km-tabstrip {
    background-color: #6aade4!important;
}

.km-android .headerTitle {
    padding-left: 5em!important;
}
/* einde poging android WUR hijsstijl */

#AllPersonsList > li,
#AllBuildingsList > li
{
    background-color: White;
}